{
	"duration"    : 1000,
	"calibration" : 200,
	"quadSize"    : 20,
	"input":{
		"map"             : "input/curaumaPUCV/area.osrm",
		"area"            : "input/curaumaPUCV/area.geojson",
		"initial_zones"   : "input/curaumaPUCV/initial_zones.geojson",
		"reference_zones" : "input/curaumaPUCV/reference_zones.geojson",
		"reference_point" : "input/curaumaPUCV/reference_point.geojson"
	},
	"agents":[
		{
			"number" : 10000,
			"model" : "ShortestPath",
			"speed" : {
				"min" : 0.6, 
				"max" : 1.2
			}
		},
		{
			"number" : 0,
			"model" : "FollowTheCrowd",
			"speed" : {
				"min" : 0.1, 
				"max" : 0.6
			}
		},
		{
			"number" : 2000,
			"model" : "RandomWalkway",
			"speed" : {
				"min" : 0.1, 
				"max" : 0.6
			}
		}
	],
	"output":{
		"progressBar"     : true,
		"interval"        : 5,
		"filesim-out"     : true,
		"filesim-path"    : "./results",
		"filesim-prefix"  : "",
		"filesim-sufix"   : ".txt"
	}
}
