{
	"duration"    : 3600,
	"calibration" : 100,
	"quadSize"    : 10,
	"closeEnough" : 50.0,
	"randomWalkwayRadius" : 100.0,
	"attractionRadius" : 5.0,
	"deltaT" : 1.0,
	"threads" : 4,
   	"input":{
		"directory"       : "input/iquique/",
		"map"             : "area.osrm",
		"area"            : "area.geojson",
		"initial_zones"   : "initial_zones.geojson",
		"reference_zones" : "reference_zones.geojson"
	},
	"output":{
		"progressBar"     : true,
		"interval"        : 10,
		"directory"       : "output/iquique/",
		"agents-out"      : true,
		"agents-path"     : "agents/",
		"agents-precision": 8,
		"agents-sufix"    : "txt",
		"stats-out"       : true,
		"stats-interval"  : 10,
		"stats-path"      : "stats/",
		"anim-config"     : "animacion.config.json"
	},
	"agents":[
		{
			"model" : "Residents",
			"number" : 30000,
			"responseTime" : {"tau"   : 0,"sigma" : 150},
			"phoneUse" :{"meanTimeTakePhone": 20.0,"probPhoneUseConst": 10},
			"ageRange":{
				"G0": {"prob": 0.2120,"minSpeed": 1.04,"maxSpeed": 1.40},
				"G1": {"prob": 0.2374,"minSpeed": 1.28,"maxSpeed": 1.68},
				"G2": {"prob": 0.4580,"minSpeed": 1.08,"maxSpeed": 1.60},
				"G3": {"prob": 0.0926,"minSpeed": 0.41,"maxSpeed": 0.93}
			},
			"SFM" : {
				"timeRelax" : 2.0, "sigma" : 0.2,
				"repulsiveForceAgents" : 50.1,
				"cosphi" : -0.17365
			}
		},
		{
			"model" : "Visitors",
			"number" : 3000,
			"responseTime" : {"tau"   : 0,"sigma" : 150},
			"phoneUse" :{"meanTimeTakePhone": 5.0,"probPhoneUseConst": 10},
			"ageRange":{
				"G0": {"prob": 0.2120,"minSpeed": 1.04,"maxSpeed": 1.40},
				"G1": {"prob": 0.2374,"minSpeed": 1.28,"maxSpeed": 1.68},
				"G2": {"prob": 0.4580,"minSpeed": 1.08,"maxSpeed": 1.60},
				"G3": {"prob": 0.0926,"minSpeed": 0.41,"maxSpeed": 0.93}
			},
			"SFM" : {
				"timeRelax" : 2.0,"sigma" : 0.2,
				"repulsiveForceAgents" : 50.1,
				"cosphi" : -0.17365
			}
		}
	]
}
