{
	"duration"    : 2000,
	"calibration" : 100,
	"quadSize"    : 10,
	"closeEnough" : 1.0,
	"randomWalkwayRadius" : 100.0,
	"attractionRadius" : 10.0,
	"deltaT" : 0.5,
	"threads" : 4,
   	"input":{
		"input-path"      : "input/iquique",
		"map"             : "input/iquique/area.osrm",
		"area"            : "input/iquique/area.geojson",
		"initial_zones"   : "input/iquique/initial_zones.geojson",
		"reference_zones" : "input/iquique/reference_zones.geojson"
	},
	"output":{
		"progressBar"     : true,
		"interval"        : 10,
		"results-path"    : "output/iquique",
		"agents-out"     : true,		
		"agents-path"    : "output/iquique/agents",
		"agents-precision": 8,
		"agents-sufix"   : "txt",
		"stats-out"       : true,
		"stats-interval"  : 10,
		"stats-path"      : "output/iquique/stats",
		"anim-config"     : "output/iquique/animacion.config.json", 
  		"showTimeExec"    : true
	},
	"agents":[
		{
			"number" : 5000,
			"model" : "ShortestPath",
			"useRatePhone": 20.0,
			"probUsePhoneConst": 10,
			"speed" : {
				"min" : 0.6, 
				"max" : 1.2
			},
			"SFM" : {
				"timeRelax" : 2.5,
				"sigma" : 0.2,
				"repulsiveForceAgents" : 200.1,
				"cosphi" : -0.17365
			}
		},
		{
			"number" : 0,
			"model" : "FollowTheCrowd",
			"useRatePhone": 5.0,
			"probUsePhoneConst": 10,
			"speed" : {
				"min" : 0.1, 
				"max" : 0.6
			},
			"SFM" : {
				"timeRelax" : 60,
				"sigma" : 0.6,
				"repulsiveForceAgents" : 2.1,
				"cosphi" : -0.17365
			}
		},
		{
			"number" : 100,
			"model" : "RandomWalkway",
			"useRatePhone": 5.0,
			"probUsePhoneConst": 10,
			"speed" : {
				"min" : 0.1, 
				"max" : 0.6
			},
			"SFM" : {
				"timeRelax" : 1.5,
				"sigma" : 0.1,
				"repulsiveForceAgents" : 200.1,
				"cosphi" : -0.17365
			}
		}
	]
}
