{
	"duration"    : 2000,
	"calibration" : 100,
	"quadSize"    : 10,
	"closeEnough" : 1.0,
	"randomWalkwayRadius" : 100.0,
	"attractionRadius" : 5.0,
	"deltaT" : 1.0,
	"threads" : 4,
   	"input":{
		"input-path"      : "input/valpo",
		"map"             : "input/valpo/area.osrm",
		"area"            : "input/valpo/area.geojson",
		"initial_zones"   : "input/valpo/initial_zones.geojson",
		"reference_zones" : "input/valpo/reference_zones.geojson"
	},
	"output":{
		"progressBar"     : true,
		"interval"        : 10,
		"results-path"    : "output/valpo",
		"agents-out"     : true,		
		"agents-path"    : "output/valpo/agents",
		"agents-precision": 8,
		"agents-sufix"   : "txt",
		"stats-out"       : true,
		"stats-interval"  : 10,
		"stats-path"      : "output/valpo/stats",
		"anim-config"     : "output/valpo/animacion.config.json", 
  		"showTimeExec"    : true
	},
	"agents":[
		{
			"model" : "ShortestPath",
			"number" : 10000,		
			"responseTime" : {
				"tau"   : 180,
				"sigma" : 300
			},
			"phoneUse" :{
				"meanTimeTakePhone": 10.0,
				"probPhoneUseConst": 10
			},
			"speed" : {
				"min" : 0.6, 
				"max" : 1.2
			},
			"SFM" : {
				"timeRelax" : 2.5,
				"sigma" : 0.2,
				"repulsiveForceAgents" : 200.1,
				"cosphi" : -0.17365
			}
		},
		{
			"model" : "FollowTheCrowd",
			"number" : 0,
			"responseTime" : {
				"tau"   : 180,
				"sigma" : 300
			},
			"phoneUse" :{
				"meanTimeTakePhone": 20.0,
				"probPhoneUseConst": 10
			},
			"speed" : {
				"min" : 0.1, 
				"max" : 0.6
			},
			"SFM" : {
				"timeRelax" : 2.5,
				"sigma" : 0.2,
				"repulsiveForceAgents" : 200.1,
				"cosphi" : -0.17365
			}
		},
		{
			"model" : "RandomWalkway",
			"number" : 1000,
			"responseTime" : {
				"tau"   : 180,
				"sigma" : 300
			},
			"phoneUse" :{
				"meanTimeTakePhone": 5.0,
				"probPhoneUseConst": 10
			},
			"speed" : {
				"min" : 0.8, 
				"max" : 1.0
			},
			"SFM" : {
				"timeRelax" : 2.5,
				"sigma" : 0.2,
				"repulsiveForceAgents" : 200.1,
				"cosphi" : -0.17365
			}
		}
	]
}
