{
	"duration"    : 4000,
	"calibration" : 100,
	"quadSize"    : 10,
	"closeEnough" : 1.0,
	"randomWalkwayRadius" : 100.0,
	"attractionRadius" : 10.0,
	"threads" : 4
	,
   	"input":{
		"map"             : "input/valpo/area.osrm",
		"area"            : "input/valpo/area.geojson",
		"initial_zones"   : "input/valpo/initial_zones.geojson",
		"reference_zones" : "input/valpo/reference_zones.geojson"
	},
	"agents":[
		{
			"number" : 5000,
			"model" : "ShortestPath",
			"speed" : {
				"min" : 0.6, 
				"max" : 1.2
			},
			"SFM" : {
				"timeRelax" : 2.5,
				"sigma" : 0.2,
				"repulsiveForceAgents" : 200.1,
				"cosphi" : -0.17365
			}
		},
		{
			"number" : 0,
			"model" : "FollowTheCrowd",
			"speed" : {
				"min" : 0.1, 
				"max" : 0.6
			},
			"SFM" : {
				"timeRelax" : 60,
				"sigma" : 0.6,
				"repulsiveForceAgents" : 2.1,
				"cosphi" : -0.17365
			}
		},
		{
			"number" : 200,
			"model" : "RandomWalkway",
			"speed" : {
				"min" : 0.1, 
				"max" : 0.6
			},
			"SFM" : {
				"timeRelax" : 1.5,
				"sigma" : 0.1,
				"repulsiveForceAgents" : 200.1,
				"cosphi" : -0.17365
			}
		}
	],
	"output":{
		"progressBar"     : true,
		"interval"        : 10,
		"filesim-out"     : true,
		"filesim-path"    : "./results/agents",
		"filesim-precision": 8,
		"filesim-sufix"   : "txt",
		"create-gif"      : true,
		"stats-out"       : false,
		"stats-interval"  : 20,
		"stats-path"      : "./results/stats",
		"showTimeExec"    : true
	}
}
